<div class="container">
        <div class="row">
            <div class="col">
                <mat-form-field class="example-full-width">
                    <mat-label>Gaap</mat-label>
                    <mat-select  multiple  [formControl]="gaapctl" (selectionChange)="selectGaap($event)">
                      <mat-option *ngFor="let obj of gaapArray" [value]="obj">{{obj}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="example-full-width">
                    <mat-label>Currency Type</mat-label>
                    <mat-select [formControl]="currtypectl" (selectionChange)="selectcurrType($event)" >
                        <mat-option *ngFor="let obj of currTypeArray" [value]="obj">
                            {{obj}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="example-full-width">
                    <mat-label>Currency Code</mat-label>
                    <mat-select  [formControl]="currcodectl" (selectionChange)="selectcurrCode($event)">
                        <mat-option *ngFor="let obj of currCodeArray" [value]="obj">
                            {{obj}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
           
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <mat-label>Processing Date</mat-label>
                    <mat-select  [formControl]="ppdctl" (selectionChange)="selectproDate($event)">
                        <mat-option *ngFor="let obj of ppdArray" [value]="obj">
                            {{obj}}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <input type="date" matInput placeholder="accounting Date" (change)="selectacctDate($event)" [formControl]="acct_dt_ctl">
                    </mat-form-field>
                </div>
                <div class="col" >
                        <button class="btn btn-primary" (click)="refreshData()">Submit</button>
                </div>
        </div>
    
    </div>
    
        <table class="table">
            <tbody>
                <tr *ngIf="show_arr_btn || show_jrnl_btn">
                    <td style="padding: 5px;text-align :center;align-content: center">
                        <button type="button" class="btn btn-link" (click)="gotoArr() " *ngIf="show_arr_btn">
                            Arrangement Drill-Down
                        </button>
                    </td>
                    <td style="padding: 5px;text-align :center;align-content: center">
                        <button type="button" class="btn btn-link" (click)="gotoJrnl() " *ngIf="show_jrnl_btn">
                            Journal Listing
                        </button>
                    </td>
                </tr>
            </tbody>
    </table>
    
    <table class="table table-bordered">
        <tr>
            <th>Account Hierarchy</th>
            <th>Chart Of Account</th>
            <th>Balance</th>
        </tr>
        <tr>
            <td colspan="3">
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="right-aligned-header">
                        <mat-panel-title>
                            Trial Balance
                        </mat-panel-title>
                        <div  style="text-align: left;width: 15px">
                           {{Currency_symbol}}
                        </div>
                        <div style="text-align: right;margin-right: 16px;min-width: 23%;">
                            {{totalOfTrialbal.toLocaleString(undefined,{'minimumFractionDigits':2,'maximumFractionDigits':2})}}
                        </div>
                    </mat-expansion-panel-header>
    
                    <mat-expansion-panel>
                        <mat-expansion-panel-header  class="right-aligned-header1" style="padding-left: 40px">
                            <mat-panel-title>
                                BalanceSheet
                            </mat-panel-title>
                            <div  style="text-align: left;width: 15px">
                                {{Currency_symbol}}
                             </div>
                             <div style="text-align: right;margin-right: 16px;min-width:calc(23% + 4px);">
                                {{totalOfBalSheet.toLocaleString(undefined,{'minimumFractionDigits':2,'maximumFractionDigits':2})}}
                             </div>
    
                        </mat-expansion-panel-header>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header  class="right-aligned-header2" style="padding-left: 50px">
                                <mat-panel-title>
                                    Assets
                                </mat-panel-title>
                                <div  style="text-align: left;width: 15px">
                                    {{Currency_symbol}}
                                 </div>
                                 <div style="text-align: right;margin-right: 16px;min-width: 280px;">
                                    {{totalOfAssets.toLocaleString(undefined,{'minimumFractionDigits':2,'maximumFractionDigits':2})}}
                                 </div>
                            </mat-expansion-panel-header>
                            <table class="mytable">
                                <tr *ngFor="let Obj of assetArr">
                                    <td></td>
                                    <td>{{Obj.lvl4_desc}}</td>
                                    <td  style="padding:0px;padding-right: 47px; width:292px;">
                                        <table style="width: 100%;border:0px;">
                                            <tr>
                                                <td style="width: 17px;padding-right: 0px">
                                                    {{Currency_symbol}}
                                                </td>
                                                <td class="number" style="width: calc(100% - 15px);padding-right: 0px">
                                                    <a (click)="rowClicked(Obj)">
                                                        {{Obj.balance.toLocaleString(undefined,{'minimumFractionDigits':2,'maximumFractionDigits':2})}}
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
    
                                    </td>
                                </tr>
                            </table>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header  class="right-aligned-header2" style="padding-left: 50px">
                                <mat-panel-title>
                                    Liability
                                </mat-panel-title>
                                <div  style="text-align: left;width: 15px">
                                    {{Currency_symbol}}
                                 </div>
                                 <div style="text-align: right;margin-right: 16px;min-width:calc(23% + 8px);">
                                    {{totalOfLiability.toLocaleString(undefined,{'minimumFractionDigits':2,'maximumFractionDigits':2})}}
                                 </div>
                            </mat-expansion-panel-header>
                            <table class="mytable ">
                                <tr *ngFor="let Obj of liabilityArr">
                                    <td></td>
                                    <td>{{Obj.lvl4_desc}}</td>
                                    <td class="number" style="padding-right: 47px"><a (click)="rowClicked(Obj)">{{Obj.balance.toLocaleString(undefined,{'minimumFractionDigits':2,'maximumFractionDigits':2})}}</a></td>
                                </tr>
                            </table>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header  class="right-aligned-header2" style="padding-left: 50px">
                                <mat-panel-title>
                                    Equity
                                </mat-panel-title>
                                <div  style="text-align: left;width: 15px">
                                    {{Currency_symbol}}
                                 </div>
                                 <div style="text-align: right;margin-right: 16px;min-width: calc(23% + 8px);">
                                    {{totalOfEquity.toLocaleString(undefined,{'minimumFractionDigits':2,'maximumFractionDigits':2})}}
                                 </div>
                            </mat-expansion-panel-header>
                            <table class="mytable ">
                                <tr *ngFor="let Obj of equityArr">
                                    <td></td>
                                    <td>{{Obj.lvl4_desc}}</td>
                                    <td class="number" style="padding-right: 47px"><a (click)="rowClicked(Obj)">{{Obj.balance.toLocaleString(undefined,{'minimumFractionDigits':2,'maximumFractionDigits':2})}}</a></td>
                                </tr>
                            </table>
                        </mat-expansion-panel>
                    </mat-expansion-panel>
    
    
                    <mat-expansion-panel>
                        <mat-expansion-panel-header  class="right-aligned-header1" style="padding-left: 40px">
                            <mat-panel-title>
                                Income Statements
                            </mat-panel-title>
                            <div  style="text-align: left;width: 15px">
                                {{Currency_symbol}}
                             </div>
                             <div style="text-align: right;margin-right: 16px;min-width: calc(23% + 4px);">
                                {{totalOfIncomestmt.toLocaleString(undefined,{'minimumFractionDigits':2,'maximumFractionDigits':2})}}
                             </div>
                        </mat-expansion-panel-header>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header  class="right-aligned-header2" style="padding-left: 50px">
                                <mat-panel-title>
                                    Income
                                </mat-panel-title>
                                <div  style="text-align: left;width: 15px">
                                    {{Currency_symbol}}
                                 </div>
                                 <div style="text-align: right;margin-right: 16px;min-width: calc(23% + 8px);">
                                    {{totalOfIncome.toLocaleString(undefined,{'minimumFractionDigits':2,'maximumFractionDigits':2})}}
                                 </div>
                            </mat-expansion-panel-header>
                            <table class="mytable">
                                <tr *ngFor="let Obj of incomeArr">
                                    <td ></td>
                                    <td>{{Obj.lvl4_desc}}</td>
                                    <td class="number" style="padding-right: 47px"><a (click)="rowClicked(Obj)">{{Obj.balance.toLocaleString(undefined,{'minimumFractionDigits':2,'maximumFractionDigits':2})}}</a></td>
                                </tr>
                            </table>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header  class="right-aligned-header2" style="padding-left: 50px">
                                <mat-panel-title>
                                    Expense
                                </mat-panel-title>
                                <div  style="text-align: left;width: 15px">
                                    {{Currency_symbol}}
                                 </div>
                                 <div style="text-align: right;margin-right: 16px;min-width: calc(23% + 8px);">
                                    {{totalOfExpense.toLocaleString(undefined,{'minimumFractionDigits':2,'maximumFractionDigits':2})}}
                                 </div>
                            </mat-expansion-panel-header>
                            <table class="mytable ">
                                <tr *ngFor="let Obj of expenseArr">
                                    <td></td>
                                    <td>{{Obj.lvl4_desc}}</td>
                                    <td class="number" style="padding-right: 47px"><a (click)="rowClicked(Obj)">{{Obj.balance.toLocaleString(undefined,{'minimumFractionDigits':2,'maximumFractionDigits':2})}}</a></td>
                                </tr>
                            </table>
                        </mat-expansion-panel>
    
                    </mat-expansion-panel>
    
                </mat-expansion-panel>
            </td>
        </tr>
    </table>
    <ngx-spinner type="pacman"></ngx-spinner>